<h2>Ton événément : <%= @event.description %><br>
Date: <%= @event.date %><br> 
Lieu: <%= @event.place %><br> 
Prix: <%= @event.price %>  euros<br>
Organisateur: <%= current_user.name %></h2><br>
<h4><%= link_to 'clique ici pour voir la liste des événements et participer', events_path %></h4>


