
<div class="center jumbotron">

<h1>Liste des événements</h1>   
  <h4><%= link_to "Ajoute un événement!", new_event_path, class: "btn btn-lg btn-primary" %></h4>








 
 




 <div class="container">
  <table class="table">
<% @events.each do |event| %>
      <tr>
        <th>Description</th>
        <th>Date</th>
        <th>Lieu</th>
        <th>Prix</th>  
        <th>Organisateur</th>  
      </tr>
    
        <tr>
          <td><%= event.description %></td>
          <td><%= event.date%></td>
          <td><%= event.place%></td>
          <td><%= event.price %> euros</td>
           <td><%= current_user.name %></td>
          <td><%= link_to 'Supprimer', event, method: :delete, class: "btn btn-lg btn-primary" %></td>
          <td><%= link_to 'Participer', new_charge_path, class: "btn btn-lg btn-primary" %></td>
        </tr>
        </div>

  <%end%>
  </table></div></div></div>

